<table class="table table-hover">
      <tr>
          <td width="70px">
                  <img src="{{ question.author.avatar(70) }}" />
          </td>
          <td>
              <a href="{{ url_for('user', username=question.author.username) }}">
                  {{ question.author.username }} {%if question.author.type %} &#x2713 {%endif%}
              </a>
              asks:
              <br>
              <a style="text-decoration: none" href="{{ url_for('question_page', id=question.id) }}">
                {{ question.body }}
              </a>
              <br>
              <p>Tags: {% for tag in question.tags %}
                <a href="{{ url_for('tag_page', id=tag.id) }}">
                  {{ tag.name }}{% if not loop.last %}, {% endif %}{% endfor %}
                </a>
                </p>
          </td>
      </tr>
</table>
