<table class="table table-hover">
        <tr>
            <td width="70px" style="background-color:PaleTurquoise">
                    <a><img src="{{ question.author.avatar(70) }}" style="padding:10px" />
            </td>
            <td style="background-color:PaleTurquoise">
                <a href="{{ url_for('user', username=question.author.username) }}">
                    {{ question.author.username }} {%if question.author.type %} &#x2713; {%endif%}
                </a>
                asks:
                <br>
                {{ question.body }}
                <br>
                <p>Tags: {% for tag in question.tags %}
                  <a href="{{ url_for('tag_page', id=tag.id) }}">
                    {{ tag.name }}{% if not loop.last %}, {% endif %}{% endfor %}
                  </a>
                  </p>
            </td>
        </tr>
    </table>
