{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div class="">
    <table style="background-color:lightseagreen; width: 100%">
      <tr valign="top">
          <td style="padding:20px" style="width:10%"><img src="{{ user.avatar(128) }}" style="width:100%"></td>
          <td style="background-color:MediumAquaMarine; padding:20px; width:80%">
            <h1>User {{ user.username }}</h1>
            {%if user.type %}<h4>Teacher</h4> {% else %} <p>Student </p>{% endif %}
            {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
            {% if user.last_seen %}<p>Last seen on: {{ user.last_seen }}</p>{% endif %}
            <p>{{ user.followers.count() }} followers, {{ user.followed.count() }} following.</p>
            {% if user == current_user %}
            <p><a href="{{ url_for('edit_profile') }}">Edit your profile</a></p>
            {% elif not current_user.is_following(user) %}
            <p>
              <form action="{{ url_for('follow', username=user.username) }}" method="post">
                {{ form.hidden_tag() }}
                {{ form.submit(value='Follow') }}
              </form>
            </p>
            {% else %}
            <p>
              <form action="{{ url_for('unfollow', username=user.username) }}" method="post">
                {{ form.hidden_tag() }}
                {{ form.submit(value='Unfollow') }}
              </form>
            </p>
            {% endif %}
          </td>
        </tr>
    </table>
    <hr>
    {% for question in questions %}
        {% include '_question.html' %}
    {% endfor %}
  </div>
    {% if prev_url %}
    <a href="{{ prev_url }}">Newer questions</a>
    {% endif %}
    {% if next_url %}
    <a href="{{ next_url }}">Older questions</a>
    {% endif %}
{% endblock %}
